*{
    background-image: url(image-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;


}
.container{
    max-width: 500px;
    margin: auto;
    color: white;
    background:rgb(135, 207, 212);
    padding: 40px;
    box-shadow: 0 2px 3px rgba(59, 42, 42, 0.9);
    border-radius: 20px;
}
label,input,button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input,button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}
input::placeholder{
    color: black;
}
button{
    cursor: pointer;
    
}
button:hover{
    color: black;
}

